.idea
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
README.md.backup
*/venv/
*/__pycache__/
/timescaledbdocker/data/*
datasetstore/*
/server/app/__pycache__
/server/NeuralNetTracker/__pycache__
deployer/test_api.py
deployer/test_docker.py
.gitignore
deployer/dataset/mnist_test.csv
deployer/dataset/mnist_train.csv
simulation/dataset_test.csv
simulation/dataset_train.csv
simulation/dataset_train_dataset_test.npz
simulation/conf_npz.json
simulation/conf.json
simulation/model_npz.json
simulation/model.json
simulation/test.py
deployer/dataset/dataset_test.npz
deployer/dataset/dataset_train.npz
simulation/dataset_test.npz
simulation/dataset_train.npz
deployer/conf.json
deployer/model.json
simulation/dataset_val.npz
