{% extends 'layout.html' %}
{% load mathfilters %}

{% block title %}NNT - Simulations{% endblock %}

{% block content %}
    <div id="content">
        {% include 'simulations/simulationsContent.html' %}
    </div>


    <a href="/simulations/create/" style="
        display: inline-block;
        position: sticky;
        position: -webkit-sticky;
        margin-left: calc(100% - 50px);
        bottom: 5vh;
        outline: none;
        user-select: none;
        cursor: pointer;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 32px;
        z-index: 2000;
        background: #0078d4;
        color: white;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        text-decoration: none;
    ">
    <i class="fa fa-plus" style="margin-top: 9px;"></i>
    </a>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body d-flex justify-content-center my-3">
                    Are you sure you want to delete the simulation "<span id="deleteModalSimName"></span>"?
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <form id="deleteModalForm" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="method" value="delete">
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </form>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="notificationModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div id="notification" class="modal-body d-flex justify-content-center my-3">
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        docReady(function () {
            setInterval(function() {
                $.get("{% url 'SimulationListContent' %}", function (data) {
                    $('#content').html(data)
                })
            }, 30000);
        });
    </script>
{% endblock %}
