{% extends 'layout.html' %}
{% load mathfilters %}

{% block title %}NNT - Simulations{% endblock %}

{% block content %}
    <div id="content">
        {% include 'simulations/simulationsContent.html' %}
    </div>

    <script>
        window.addEventListener('load', function() {
            setInterval(function() {
                $.get("{% url 'SimulationListContent' %}", function (data) {
                    $('#content').html(data)
                })
            }, 10000);
        }, false);
    </script>
{% endblock %}
