<ul>
    <li>ID: {{ simulation.id }}</li>
    <li>Owner: {{ simulation.owner }}</li>
    <li>Name: {{ simulation.name }}</li>
    <li>Model: {{ simulation.model }}</li>
    <li>IsDone: {{ simulation.isdone }}</li>
    <li>IsRunning: {{ simulation.isrunning }}</li>
{#  <li>Biases: {{ simulation.biases }}</li>#}
    <li>Layers: {{ simulation.layers }}</li>
    <li>Learning rate: {{ simulation.learning_rate }}</li>
    <li>Epoch period: {{ simulation.epoch_interval }}</li>
    <li>Total epochs: {{ simulation.goal_epochs }}</li>
    {% for update in updates %}
        <li>==========</li>
        <li>Epoch: {{ update.epoch }}</li>
        <li>Loss: {{ update.loss }}</li>
        <li>Accuracy: {{ update.accuracy }}</li>
        <li>Validation Loss: {{ update.val_loss }}</li>
        <li>Validation Accuracy: {{ update.val_accuracy }}</li>
    {% endfor %}
</ul>