{% extends 'layout.html' %}
{% load mathfilters %}

{% block title %}NNT - {{ simulation.name }}{% endblock %}

{% block content %}
    <div id="content">
        {% include 'simulationInfo/simulationInfoContent.html' %}
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body d-flex justify-content-center my-3">
                    Are you sure you want to delete this simulation?
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <form action="/simulations/command/{{ simulation.id.int }}/STOP" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="method" value="delete">
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </form>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="notificationModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div id="notification" class="modal-body d-flex justify-content-center my-3">
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        let lastUpdate = -1;
        {% if simulation.current_epoch %}
            lastUpdate = {{ simulation.current_epoch.epoch }};
        {% endif %}
        window.addEventListener('load', function() {
            setInterval(function() {
                $.ajax({
                    method: "GET",
                    url: "{% url 'SimulationInfoContext' id=simulation.id.int %}",
                    success: function(data) {
                        let currentUpdate = JSON.parse(data).simulation.current_epoch.epoch
                        if (currentUpdate > lastUpdate) {
                            lastUpdate = currentUpdate
                            $.get("{% url 'SimulationInfoContent' id=simulation.id.int %}", function (data) {
                                $('#content').html(data)
                                reloadGrafana()
                            })
                        }
                    },
                    error: function(data) {
                        {#console.log(data)#}
                        console.log('UPDATE AJAX ERROR')
                    }
                })
            }, 10000);
        }, false);
    </script>
{% endblock %}
