{% extends 'layout.html' %}

{% block title %}NNT - Simulations{% endblock %}

{% block content %}
    <div class="row my-3">
        <div class="col">
            <h5 style="margin-bottom: 0; font-weight: bold">Simulations</h5>
            <small style="color: grey">Manage and analyse all your simulations.</small>
            <div style="border: 1px solid #DCDCDE; min-height: 50vh; margin-top: 5px; background-color: white; padding: 8px">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 p-0 card" style="height: 198px">
                    <img class="card-img-top" style="height: 100px; background-color: darkgrey">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-2">
                            <a href="/simulations/1/" style="font-weight: bold; color: black; text-decoration: none">Simulation</a>
                            <span style="color: orangered;">Unfinished</span>
                        </div>
                        <div class="d-flex">
                            <div class="progress flex-grow-1">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <button class="btn p-0 ms-2" data-bs-toggle="modal" data-bs-target="#notificationModal"><i class="fa fa-play fa-sm"></i></button>
                            <button class="btn p-0 ms-2" style="color: red" data-bs-toggle="modal" data-bs-target="#deleteModal1"><i class="fa fa-trash fa-sm"></i></button>

                            <div class="modal fade" id="deleteModal1" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body d-flex justify-content-center my-3">
                                            Are you sure you want to delete the simulation "Simulation"?
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button type="button" class="btn btn-primary">Yes</button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="/simulations/create/" style="
        display: inline-block;
        position: absolute;
        right: 5%;
        bottom: 5%;
        outline: none;
        user-select: none;
        cursor: pointer;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 32px;
        z-index: 2000;
        background: #0078d4;
        color: white;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        text-decoration: none;
    ">
    +
    </a>

    <div class="modal fade" id="notificationModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body d-flex justify-content-center my-3">
                    Simulation "XXX" has been resumed/paused. / Server message
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Ok</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

