{% extends 'layout.html' %}

{% block title %}NNT - Create Simulation{% endblock %}

{% block content %}
    <div class="row my-3">
        <div class="col">
            <div style="border: 1px solid #DCDCDE; min-height: 50vh; margin-top: 5px; background-color: white; padding: 8px">
                <div style="margin: 5px 0 10px 5px">
                    <a href="/simulations/" style="color: grey; text-decoration: none"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
                <div style="border-top: 1px solid #DCDCDE"></div>
                <div style="padding: 24px 16px">
                    <h5 class="mb-3">Create simulation:</h5>
                    <div class="form-check form-switch mb-3">
                        <input id="fieldOrFileSwitch" class="form-check-input" type="checkbox">
                        <label class="form-check-label" for="fieldOrFileSwitch">Use config file</label>
                    </div>
                    <script>
                        docReady(function () {
                            let fieldOrFileSwitch = $('#fieldOrFileSwitch');
                            let fieldForm = $('#fieldForm');
                            let fileForm = $('#fileForm');
                            fieldOrFileSwitch.click(function() {
                                if (fieldOrFileSwitch.is(':checked')) {
                                    fileForm.show()
                                    fieldForm.hide()
                                }
                                else {
                                    fieldForm.show()
                                    fileForm.hide()
                                }
                            });
                            if (fieldOrFileSwitch.is(':checked')) {
                                fileForm.show()
                                fieldForm.hide()
                            }
                            else {
                                fieldForm.show()
                                fileForm.hide()
                            }
                        });
                    </script>
                    <form id="fieldForm" action="/simulations/create/" method="post" style="margin-bottom: 0; display: none;" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ fieldForm.name.label_tag }}
                            {{ fieldForm.name }}
                            {% for error in fieldForm.name.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ fieldForm.batch_size.label_tag }}
                            {{ fieldForm.batch_size }}
                            {% for error in fieldForm.batch_size.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ fieldForm.max_epochs.label_tag }}
                            {{ fieldForm.max_epochs }}
                            {% for error in fieldForm.max_epochs.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ fieldForm.logging_interval.label_tag }}
                            {{ fieldForm.logging_interval }}
                            {% for error in fieldForm.logging_interval.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ fieldForm.learning_rate }}
                        </div>
                        <div>
                            <label for="addLearningRateInput">{{ fieldForm.learning_rate.label }}:</label>
                            <div class="input-group d-flex flex-nowrap">
                                <input id="addLearningRateInput" type="number" class="form-control">
                                <button id="addLearningRateButton" class="btn btn-secondary" type="button">Add</button>
                            </div>
                            {% for error in fieldForm.learning_rate.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                            <div id="learningRateError" class="invalid-feedback" style="display: initial;"></div>
                        </div>
                        <div class="card card-body mb-3 p-1" style="padding-bottom: 1px !important;">
                            <div id="learningRateList" class="d-flex flex-wrap">
                            </div>
                        </div>
                        <script>
                            docReady(function () {
                                let learningRateArray = []
                                let learningRateInput = $('#{{ fieldForm.learning_rate.id_for_label }}');

                                let addLearningRateInput = $('#addLearningRateInput');
                                let addLearningRateButton = $('#addLearningRateButton');
                                let learningRateList = $('#learningRateList');
                                let learningRateError = $('#learningRateError');

                                if (learningRateInput.val() !== "")
                                    learningRateInput.val().split(",").forEach(function(item, index) {
                                        let tag = $(document.createElement("div"));
                                        tag.prop("style", "border-radius: 10%; font-size: small; margin-right: 3px; border: 1px darkgrey solid; margin-bottom: 3px;");
                                        let tagValue = $(document.createElement("span"));
                                        tagValue.prop("style", "padding: 1px 6px 1px 6px; float: left; white-space: nowrap;");
                                        tagValue.text(item);
                                        tag.append(tagValue);
                                        let tagDeleteButton = $(document.createElement("button"));
                                        tagDeleteButton.prop("style", "height: 100%; padding: 1px 3px; background: transparent; border: 0; border-left: 1px darkgrey solid;");
                                        tagDeleteButton.html('<i class="fa fa-times fa-sm"></i>');
                                        tag.append(tagDeleteButton);
                                        learningRateList.append(tag);

                                        tagDeleteButton.click(removeLearningRate)

                                        learningRateArray.push(item)
                                    })

                                function addLearningRate() {
                                    let learningRate = addLearningRateInput.val()
                                    if (isNaN(learningRate) || learningRate === "") {
                                        learningRateError.text("Learning rate is not a number");
                                        return;
                                    }
                                    if (parseFloat(learningRate) < 0.00001) {
                                        learningRateError.text("Learning rate has to be higher or equal to 0.00001");
                                        return;
                                    }
                                    if (learningRateArray.indexOf(learningRate) > -1) {
                                        learningRateError.text("Learning rate already has that value");
                                        return;
                                    }
                                    $('#learningRateError').text("")

                                    let tag = $(document.createElement("div"));
                                    tag.prop("style", "border-radius: 10%; font-size: small; margin-right: 3px; border: 1px darkgrey solid; margin-bottom: 3px;");
                                    let tagValue = $(document.createElement("span"));
                                    tagValue.prop("style", "padding: 1px 6px 1px 6px; float: left; white-space: nowrap;");
                                    tagValue.text(learningRate);
                                    tag.append(tagValue);
                                    let tagDeleteButton = $(document.createElement("button"));
                                    tagDeleteButton.prop("style", "height: 100%; padding: 1px 3px; background: transparent; border: 0; border-left: 1px darkgrey solid;");
                                    tagDeleteButton.html('<i class="fa fa-times fa-sm"></i>');
                                    tag.append(tagDeleteButton);
                                    learningRateList.append(tag);

                                    tagDeleteButton.click(removeLearningRate)

                                    learningRateArray.push(learningRate)
                                    learningRateInput.val(learningRateArray.toString())

                                    $('#addLearningRateInput').val("")
                                }

                                function removeLearningRate() {
                                    learningRateArray.splice(learningRateArray.indexOf($(this).parent().find("span").text()), 1)
                                    learningRateInput.val(learningRateArray.toString())
                                    $(this).parent().remove();
                                }

                                addLearningRateButton.click(addLearningRate);
                            });
                        </script>
                        <div class="mb-3 multipleSelectContainer">
                            {{ fieldForm.metrics.label_tag }}
                            {{ fieldForm.metrics }}
                            {% for error in fieldForm.metrics.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ fieldForm.optimizer.label_tag }}
                            {{ fieldForm.optimizer }}
                            {% for error in fieldForm.optimizer.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ fieldForm.loss_function.label_tag }}
                            {{ fieldForm.loss_function }}
                            {% for error in fieldForm.loss_function.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-check form-switch mb-3">
                            {{ fieldForm.is_k_fold }}
                            <label class="form-check-label" for="{{ fieldForm.is_k_fold.id_for_label }}">{{ fieldForm.is_k_fold.label }}</label>
                            {% for error in fieldForm.is_k_fold.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <script>
                            docReady(function () {
                                let isKFoldSwitch = $('#{{ fieldForm.is_k_fold.id_for_label }}');
                                let kFoldCollapse = $('#fieldIsKFoldCollapse');
                                isKFoldSwitch.click(function() {
                                    if (isKFoldSwitch.is(':checked'))
                                        kFoldCollapse.slideDown(100)
                                    else
                                        kFoldCollapse.slideUp(100)
                                });
                                if (isKFoldSwitch.is(':checked'))
                                    kFoldCollapse.show()
                                else
                                    kFoldCollapse.hide()
                            });
                        </script>
                        <div class="card card-body mb-3" id="fieldIsKFoldCollapse">
                            <div class="mb-3">
                                {{ fieldForm.k_fold_validation.label_tag }}
                                {{ fieldForm.k_fold_validation }}
                                {% for error in fieldForm.k_fold_validation.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div>
                                {{ fieldForm.tag.label_tag }}
                                {{ fieldForm.tag }}
                                {% for error in fieldForm.tag.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="mb-3" style="border-top: 1px solid #DCDCDE"></div>
                        <div class="mb-3">
                            {{ fieldForm.model.label_tag }}
                            {{ fieldForm.model }}
                            {% for error in fieldForm.model.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-check form-switch mb-3">
                            {{ fieldForm.use_url_datasets }}
                            <label class="form-check-label" for="{{ fieldForm.use_url_datasets.id_for_label }}">{{ fieldForm.use_url_datasets.label }}</label>
                            {% for error in fieldForm.use_url_datasets.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <script>
                            docReady(function () {
                                let fieldOrFileSwitch = $('#{{ fieldForm.use_url_datasets.id_for_label }}');
                                let fieldForm = $('#fieldFileDatasets');
                                let fileForm = $('#fieldUrlDatasets');
                                fieldOrFileSwitch.click(function() {
                                    if (fieldOrFileSwitch.is(':checked')) {
                                        fileForm.show()
                                        fieldForm.hide()
                                    }
                                    else {
                                        fieldForm.show()
                                        fileForm.hide()
                                    }
                                });
                                if (fieldOrFileSwitch.is(':checked')) {
                                    fileForm.show()
                                    fieldForm.hide()
                                }
                                else {
                                    fieldForm.show()
                                    fileForm.hide()
                                }
                            });
                        </script>
                        <div id="fieldFileDatasets">
                            <div class="mb-3">
                                {{ fieldForm.train_dataset.label_tag }}
                                {{ fieldForm.train_dataset }}
                                {% for error in fieldForm.train_dataset.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                {{ fieldForm.test_dataset.label_tag }}
                                {{ fieldForm.test_dataset }}
                                {% for error in fieldForm.test_dataset.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                {{ fieldForm.val_dataset.label_tag }}
                                {{ fieldForm.val_dataset }}
                                {% for error in fieldForm.val_dataset.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div>
                                {{ fieldForm.dataset_format.label_tag }}
                                {{ fieldForm.dataset_format }}
                                {% for error in fieldForm.dataset_format.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <script>
                                docReady(function () {
                                    let Select = $('#{{ fieldForm.dataset_format.id_for_label }}');
                                    let CSVCollapse = $('#fieldCSVCollapse');
                                    let NPZCollapse = $('#fieldNPZCollapse');
                                    if (Select.val() === 'csv') {
                                        NPZCollapse.hide()
                                        CSVCollapse.show()
                                    } else if (Select.val() === 'npz') {
                                        CSVCollapse.hide()
                                        NPZCollapse.show()
                                    }
                                    Select.change(function () {
                                        if (Select.val() === 'csv') {
                                            NPZCollapse.hide()
                                            CSVCollapse.show()
                                        } else if (Select.val() === 'npz') {
                                            CSVCollapse.hide()
                                            NPZCollapse.show()
                                        }
                                    })
                                });
                            </script>
                            <div class="card card-body mb-3" id="fieldCSVCollapse">
                                <div class="mb-3">
                                    {{ fieldForm.label_column.label_tag }}
                                    {{ fieldForm.label_column }}
                                    {% for error in fieldForm.label_column.errors %}
                                        <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card card-body mb-3" id="fieldNPZCollapse">
                                <div class="mb-3">
                                    {{ fieldForm.train_feature_name.label_tag }}
                                    {{ fieldForm.train_feature_name }}
                                    {% for error in fieldForm.train_feature_name.errors %}
                                        <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                <div class="mb-3">
                                    {{ fieldForm.train_label_name.label_tag }}
                                    {{ fieldForm.train_label_name }}
                                    {% for error in fieldForm.train_label_name.errors %}
                                        <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                <div class="mb-3">
                                    {{ fieldForm.test_feature_name.label_tag }}
                                    {{ fieldForm.test_feature_name }}
                                    {% for error in fieldForm.test_feature_name.errors %}
                                        <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                <div class="mb-3">
                                    {{ fieldForm.test_label_name.label_tag }}
                                    {{ fieldForm.test_label_name }}
                                    {% for error in fieldForm.test_label_name.errors %}
                                        <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                <div class="mb-3">
                                    {{ fieldForm.val_feature_name.label_tag }}
                                    {{ fieldForm.val_feature_name }}
                                    {% for error in fieldForm.val_feature_name.errors %}
                                        <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                <div class="mb-3">
                                    {{ fieldForm.val_label_name.label_tag }}
                                    {{ fieldForm.val_label_name }}
                                    {% for error in fieldForm.val_label_name.errors %}
                                        <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div id="fieldUrlDatasets">
                            <div class="mb-3">
                                {{ fieldForm.url_train_dataset.label_tag }}
                                {{ fieldForm.url_train_dataset }}
                                {% for error in fieldForm.url_train_dataset.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                {{ fieldForm.url_test_dataset.label_tag }}
                                {{ fieldForm.url_test_dataset }}
                                {% for error in fieldForm.url_test_dataset.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                {{ fieldForm.url_val_dataset.label_tag }}
                                {{ fieldForm.url_val_dataset }}
                                {% for error in fieldForm.url_val_dataset.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Create</button>
                        </div>
                    </form>

                    <form id="fileForm" action="/simulations/create/" method="post" style="margin-bottom: 0; display: none;" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ fileForm.config.label_tag }}
                            {{ fileForm.config }}
                            {% for error in fileForm.config.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3" style="border-top: 1px solid #DCDCDE"></div>
                        <div class="mb-3">
                            {{ fileForm.model.label_tag }}
                            {{ fileForm.model }}
                            {% for error in fileForm.model.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-check form-switch mb-3">
                            {{ fileForm.use_url_datasets }}
                            <label class="form-check-label" for="{{ fileForm.use_url_datasets.id_for_label }}">{{ fileForm.use_url_datasets.label }}</label>
                            {% for error in fileForm.use_url_datasets.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <script>
                            docReady(function () {
                                let Switch = $('#{{ fileForm.use_url_datasets.id_for_label }}');
                                let Collapse = $('#fileFileDatasets');
                                Switch.click(function() {
                                    if (Switch.is(':checked'))
                                        Collapse.hide()
                                    else
                                        Collapse.show()
                                });
                                if (Switch.is(':checked'))
                                    Collapse.hide()
                                else
                                    Collapse.show()
                            });
                        </script>
                        <div id="fileFileDatasets">
                            <div class="mb-3">
                                {{ fileForm.train_dataset.label_tag }}
                                {{ fileForm.train_dataset }}
                                {% for error in fileForm.train_dataset.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                {{ fileForm.test_dataset.label_tag }}
                                {{ fileForm.test_dataset }}
                                {% for error in fileForm.test_dataset.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                {{ fileForm.val_dataset.label_tag }}
                                {{ fileForm.val_dataset }}
                                {% for error in fileForm.val_dataset.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        docReady(function () {
            $('select').multipleSelect({
                filter: true,
                ellipsis: true,
                minimumCountSelected: 99,
                onFilter: function (text) {
                    if ($('.ms-select-all').css("display") !== "none") {
                        $('.ms-drop ul li').prop('style', 'height: 38px !important; line-height: 28px;');
                        $('.multipleSelectContainer .ms-parent .ms-drop ul li label span').prop('style', 'height: 38px !important; line-height: 38px;');
                    }
                }
            });
            $('.ms-parent, .ms-choice, .ms-choice span, .ms-search, .ms-search input')
                .prop('style', 'height: 38px !important; width: 100%; line-height: 38px; color: black;');
            $('.ms-drop ul li').prop('style', 'height: 38px !important; line-height: 28px;');
            $('.ms-choice span').prop('style', 'padding-left: 12px');
            $('.multipleSelectContainer .ms-parent .ms-drop ul li label span').prop('style', 'height: 38px !important; line-height: 38px;');
            $('.ms-search').prop('style', 'height: 42px !important; width: 100%;')
            $('.ms-choice').prop('class', 'ms-choice form-select')
            $('.icon-caret').hide();
        });
    </script>
{% endblock %}
