{% extends 'layout.html' %}

{% block title %}NNT - Create Simulation{% endblock %}

{% block content %}
    <div class="row my-3">
        <div class="col">
            <div style="border: 1px solid #DCDCDE; min-height: 50vh; margin-top: 5px; background-color: white; padding: 8px">
                <div style="margin: 5px 0 10px 5px">
                    <a href="/simulations/" style="color: grey; text-decoration: none"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
                <div style="border-top: 1px solid #DCDCDE"></div>
                <div style="padding: 24px 16px">
                    <h5 class="mb-3">Create simulation:</h5>
                    <form action="/simulations/create/" method="post" style="margin-bottom: 0" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                            {% for error in form.name.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.batch_size.label_tag }}
                            {{ form.batch_size }}
                            {% for error in form.batch_size.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.max_epochs.label_tag }}
                            {{ form.max_epochs }}
                            {% for error in form.max_epochs.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.logging_interval.label_tag }}
                            {{ form.logging_interval }}
                            {% for error in form.logging_interval.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.learning_rate.label_tag }}
                            {{ form.learning_rate }}
                            {% for error in form.learning_rate.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.metrics.label_tag }}
                            {{ form.metrics }}
                            {% for error in form.metrics.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                            <script>
                                docReady(function () {
                                    $('#{{ form.metrics.id_for_label }}').multipleSelect({
                                        filter: true
                                    });
                                    $('.ms-parent, .ms-choice, .ms-choice span, .ms-search, .ms-search input, .ms-drop ul li')
                                        .prop('style', 'height: 38px !important; width: 100%; line-height: 38px; color: black;');
                                    $('.ms-choice').prop('class', 'ms-choice form-select')
                                    $('.icon-caret').hide();
                                });
                            </script>
                        </div>
                        <div class="mb-3">
                            {{ form.optimizer.label_tag }}
                            {{ form.optimizer }}
                            {% for error in form.optimizer.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.loss_function.label_tag }}
                            {{ form.loss_function }}
                            {% for error in form.loss_function.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-check form-switch mb-3">
                            {{ form.is_k_fold }}
                            <label class="form-check-label" for="{{ form.is_k_fold.id_for_label }}">{{ form.is_k_fold.label }}</label>
                            {% for error in form.is_k_fold.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <script>
                            docReady(function () {
                                let isKFoldSwitch = $('#{{ form.is_k_fold.id_for_label }}');
                                let kFoldCollapse = $('#isKFoldCollapse');
                                isKFoldSwitch.click(function() {
                                    if (isKFoldSwitch.is(':checked'))
                                        kFoldCollapse.slideDown(100)
                                    else
                                        kFoldCollapse.slideUp(100)
                                });
                                if (isKFoldSwitch.is(':checked'))
                                    kFoldCollapse.show()
                                else
                                    kFoldCollapse.hide()
                            });
                        </script>
                        <div class="card card-body mb-3" id="isKFoldCollapse">
                            <div class="mb-3">
                                {{ form.k_fold_validation.label_tag }}
                                {{ form.k_fold_validation }}
                                {% for error in form.k_fold_validation.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div>
                                {{ form.tag.label_tag }}
                                {{ form.tag }}
                                {% for error in form.tag.errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="mb-3" style="border-top: 1px solid #DCDCDE"></div>
                        <div class="mb-3">
                            {{ form.model.label_tag }}
                            {{ form.model }}
                            {% for error in form.model.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.train_dataset.label_tag }}
                            {{ form.train_dataset }}
                            {% for error in form.train_dataset.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.test_dataset.label_tag }}
                            {{ form.test_dataset }}
                            {% for error in form.test_dataset.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.val_dataset.label_tag }}
                            {{ form.val_dataset }}
                            {% for error in form.val_dataset.errors %}
                                <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
